---
import blog from "../../data/en/blog.json";
import HeaderSections from "@components/en/HeaderSections.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
---

<BlogLayout>
  <HeaderSections />

  <main class="max-w-5xl mx-auto px-4 py-12 mt-10">

    <section class="mb-16">
      <div class="bg-white rounded-xl overflow-hidden">
        

        <div class="w-full h-70 md:h-90">
          <img
            src="https://i.ibb.co/h1g5FGLQ/portada.jpg"
            alt="Ruta desde San José a La Fortuna Costa Rica"
            class="w-full h-full object-cover"
          />
        </div>
    

        <div class="p-5">
          <h1 class="text-center font-bold text-3xl md:text-4xl">
            La Fortuna Blog
          </h1>
        </div>
    
      </div>
    </section>
    
    
  
    <section class="grid md:grid-cols-2 gap-8">
      {blog.map((post) => (
        <a href={`/entradasblog/en/${post.id}`}>
          <article class="bg-white rounded-xl overflow-hidden shadow-sm hover:shadow-md border border-gray-200">

            <div class="h-40 w-full">
              <img 
                src={post.imagen}
                alt={post.title}
                class="w-full h-full object-cover"
              />
            </div>

            <div class="p-5 h-32">
              <h3 class="font-semibold text-lg">{post.title}</h3>
              <h3 class="text-sm text-gray-500">{post.subtitle}</h3>
            </div>

          </article>
        </a>
      ))}
    </section>
  </main>
</BlogLayout>
