---
import Layout from "@layouts/Layout.astro";
import packages from "../../data/en/packages.json";
import HeaderSections from "@components/en/HeaderSections.astro"
---

<Layout>
    <div class="pb-20 sm:pb-5 bg-fondo">
        <HeaderSections/>
    </div>
<div id="PackagesInfo" class="bg-fondo pb-5">
  {
    packages.map((pkg) => (
      <div
        class="sm:grid sm:grid-cols-2 sm:items-center flex flex-col-reverse sm:space-y-20 snap-start"
        key={pkg.title}
      >
        <div class="sm:p-20 p-10">
          <p class="text-xl xl:text-2xl font-semibold text-gold">Packages</p>
          <p>{pkg.title}</p>
          <p>{pkg.season}</p>
          <ul class="text-black font-Montserrat my-4">
            {pkg.extras.map((extra) => (
              <li key={extra}>{extra}</li>
            ))}
          </ul>
        </div>
        <div>
          <img
            src={pkg.image}
            alt="packageimage"
            class="border-solid border-8 border-white shadow-lg 2xl:w-[50rem] 2xl:min-h-[45rem] ml-14 sm:ml-0 w-72 h-96 sm:pl-0 sm:min-h-[32rem] sm:w-[35rem] rounded-xl sm:rounded-2xl bg-cover"
          />
        </div>
      </div>
    ))
  }
</div>
</Layout>