---
import { Image } from "astro:assets";
import fotoSelvanegra from "../assets/selvaAmenidades.jpg";
import fotoResta from "../assets/restaAmenidades.jpg";
import fotoNuwa from "../assets/NUWA.png";
import LogoNuwa from "../assets/NUWAlog.png";
import logoMariaBonita from "../assets/logomaria.png";
import LogoSelvaNegra from "../assets/logoSelvaNegra.png";
import LogoVentanita from "../assets/laventanita.png";
import FotoVentanita from "../assets/mariaAmanidades.png";
import logoPintoeGallo from "../assets/logoDesayuno.png";
import fotoDesayuno from "../assets/TipicoAmanidades.png";
---

<main>
  <div>
    <!------------------------------Seccion 1------------------------------------------------->

    <div
      class="bg-fondog sm:grid sm:grid-cols-2 flex flex-col items-center h-50"
    >
      <div class="order-last sm:order-none lg:p-20 p-10">
        <h2
          class="w-full mb-4 pr-6 sm:w-[540px] text-titulo text-2xl sm:text-[30px] lg:text-[40px] font-Lobster"
        >
          María Bonita Steak House
        </h2>

        <p class="font-Montserrat text-sm sm:text-sm text-texto">
          María Bonita Steak House es una fusión de gastronomía,
          entretenimiento, pasión y arte. Aquí, cada platillo se convierte en un
          espectáculo. Disfruta de cortes de carne premium cocinados a la
          perfección en brasas de carbón natural, flambé en mesa con postres,
          cafés y cócteles, experiencias con fuego, música en vivo. Sumérgete en
          una experiencia sensorial única en el corazón de La Fortuna. ¡Te
          garantizamos calidad y una auténtica experiencia!
        </p>

        <div
          class="flex flex-col sm:grid sm:grid-cols-2 lg:mt-4 items-center sm:items-start"
        >
          <Image
            class="w-[200px] lg:w-[240px] order-last sm:order-first mt-8"
            src={logoMariaBonita}
            alt="María Bonita Steak House"
          />
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
            href="https://qrfy.io/p/iLG_cBukNI"
          >
            <button
              class="h-11 w-52 lg:mt-20 mt-10 rounded-[20px] bg-botones hover:bg-red-700 justify-center items-center inline-flex order-first sm:order-last"
            >
              Menú
            </button>
          </a>
        </div>
      </div>

      <div class="w-full sm:w-auto max-w-[80%] mx-auto p-4">
        <Image
          src={fotoResta}
          alt="María Bonita Steak House"
          class="w-full h-[350px] object-cover lg:rounded-br-4xl lg:rounded-tl-4xl rounded-br-4xl rounded-tl-4xl "
        />
      </div>
    </div>

    <!----------------------------Seccion 2------------------------------------------------->

    <div class="sm:grid sm:grid-cols-2 flex flex-col items-center h-50">
      <div class="w-full sm:w-auto max-w-[80%] mx-auto p-4">
        <Image
          src={fotoSelvanegra}
          alt="Selva Negra"
          class="w-full h-[350px] object-cover lg:rounded-br-4xl lg:rounded-tl-4xl rounded-br-4xl rounded-tl-4xl"
        />
      </div>
      <div class="sm:order-last order-none lg:p-20 p-10">
        <h2
          class="w-full mb-4 pr-3 sm:w-[432px] text-titulo text-2xl sm:text-[30px] lg:text-[40px] font-Lobster"
        >
          Selva Negra
        </h2>

        <p class="font-Montserrat text-sm sm:text-sm text-texto">
          Disfruta de sabores exóticos, mixología creativa , selectos vinos y
          experiencias en un viaje sensorial inspirado en la magia de la selva
          tropical nocturna de Costa Rica ofrecemos noches temáticas de
          mixología, catas de vinos con sommelier invitados, maridajes con
          gastronomía elaborada por nuestro chef y eventos privados para quienes
          buscan una experiencia personalizada
        </p>
        <div
          class="flex flex-col sm:grid sm:grid-cols-2 lg:mt-4 items-center sm:items-start"
        >
          <Image
            class="w-[200px] lg:w-[240px] order-2 sm:order-1 mt-8"
            src={LogoSelvaNegra}
            alt="Selva Negra"
          />
         <!--  <button
            class="h-11 w-52 mt-10 rounded-[20px] bg-botones hover:bg-red-700 justify-center items-center inline-flex"
          >
            <a
              class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
              href="">Menú</a
            >
          </button>-->
        </div>
      </div>
    </div>

    <!-----------------------------Seccion 3------------------------------------------------->

    <div
      class="bg-fondog sm:grid sm:grid-cols-2 flex flex-col items-center h-50"
    >
      <div class="order-last sm:order-none lg:p-20 p-10">
        <h2
          class="w-full mb-4 pr-3 sm:w-[432px] text-titulo text-2xl sm:text-[30px] lg:text-[40px] font-Lobster"
        >
          Nuwa Art Gallery
        </h2>

        <p class="font-Montserrat text-sm sm:text-sm text-texto">
          Es un espacio vibrante dedicado a la celebración del arte y la cultura
          costarricense. Presentamos obras de artistas locales, ofreciendo una
          experiencia única que conecta a los visitantes con la creatividad y la
          inspiración de nuestra tierra. ¡Descubre y apoye el arte costarricense
          en su máxima expresión en Nuwa Gallery!
        </p>
        <div
          class="flex flex-col sm:grid sm:grid-cols-2 lg:mt-4 items-center sm:items-start"
        >
          <Image
            class="w-[200px] lg:w-[240px] order-last sm:order-first mt-2"
            src={LogoNuwa}
            alt="Nuwa Art Gallery"
          />

          <!-- <button
            class="h-11 w-52 mt-10 rounded-[20px] bg-botones hover:bg-red-700 justify-center items-center inline-flex order-first sm:order-last"
          >
            <a
              class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
              href=""
            >
              Catálogo
            </a>
          </button>-->
        </div>
      </div>

      <div class="w-full sm:w-auto max-w-[80%] mx-auto p-4">
        <Image
          src={fotoNuwa}
          alt="Nuwa Art Gallery"
          class="w-full h-[350px] object-cover lg:rounded-br-4xl lg:rounded-tl-4xl rounded-br-4xl rounded-tl-4xl"
        />
      </div>
    </div>
  </div>

  <!----------------------------Seccion 4------------------------------------------------->
  <div class="sm:grid sm:grid-cols-2 flex flex-col items-center h-50">
    <div class="w-full sm:w-auto max-w-[80%] mx-auto p-4">
      <Image
        src={FotoVentanita}
        alt="La Ventanita de María Bonita"
        class="w-full h-[350px] object-cover lg:rounded-br-4xl lg:rounded-tl-4xl rounded-br-4xl rounded-tl-4xl"
      />
    </div>
    <div class="sm:order-last order-none lg:p-20 p-10">
      <h2
        class="w-full mb-4 pr-6 sm:w-[540px] text-titulo text-2xl sm:text-[30px] lg:text-[40px] font-Lobster"
      >
        La Ventanita de María Bonita
      </h2>

      <p class="font-Montserrat text-sm sm:text-sm text-texto">
        En La Ventanita de María Bonita, sabemos que tu tiempo es valioso y tu
        apetito también. Somos una ventanita de comida rápida a la parrilla,
        donde cada plato se prepara al momento con ingredientes frescos y de la
        mejor calidad. Disfruta de sabores auténticos y jugosos, cocinados a la
        perfección en la parrilla, listos para llevar y sin largas esperas.
        ¡Rapidez, sabor y calidad en cada bocado!
      </p>
      <div
        class="flex flex-col sm:grid sm:grid-cols-2 lg:mt-4 items-center sm:items-star"
      >
        <Image
          class="w-[200px] lg:w-[240px] order-2 sm:order-1"
          src={LogoVentanita}
          alt="La Ventanita de María Bonita"
        />
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
          href="https://online.flippingbook.com/view/179568887/"
        >
          <button
            class="h-11 w-52 lg:mt-10 mt-10 rounded-[20px] bg-botones hover:bg-red-700 justify-center items-center inline-flex order-first sm:order-last"
          >
            Menú
          </button>
        </a>
      </div>
    </div>
  </div>

  <!-----------------------------Seccion 5------------------------------------------------->

  <div class="bg-fondog sm:grid sm:grid-cols-2 flex flex-col items-center h-50">
    <div class="order-last sm:order-none lg:p-20 p-10">
      <h2
        class="w-full mb-4 pr-3 sm:w-[432px] text-titulo text-2xl sm:text-[30px] lg:text-[40px] font-Lobster"
      >
        Pinto e' Gallo
      </h2>

      <p class="font-Montserrat text-sm sm:text-sm text-texto">
        Comienza tu día con el mejor sabor en Pinto e' Gallo. Disfruta de
        nuestro desayuno estilo buffet, donde encontrarás una variedad
        irresistible de opciones frescas. Ideal para comenzar el día con energía
        y sin prisas. ¡Ven y disfruta de un desayuno completo y delicioso!"
      </p>
      <div
        class="flex flex-col sm:grid sm:grid-cols-2 lg:mt-4 items-center sm:items-start"
      >
        <Image
          class="w-[150px] lg:w-[200px] order-last sm:order-first "
          src={logoPintoeGallo}
          alt="María Bonita Steak House"
        />

       <!--  <button
          class="h-11 w-52 lg:mt-20 mt-10 rounded-[20px] bg-botones hover:bg-red-700 justify-center items-center inline-flex order-first sm:order-last"
        >
          <a
            class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
            href=""
          >
            Menú
          </a>
        </button>-->
      </div>
    </div>

    <div class="w-full sm:w-auto max-w-[80%] mx-auto p-4">
      <Image
        src={fotoDesayuno}
        alt="Pinto e' Gallo"
        class="w-full h-[350px] object-cover lg:rounded-br-4xl lg:rounded-tl-4xl rounded-br-4xl rounded-tl-4xl"
      />
    </div>
  </div>
</main>
