---
import { Image } from "astro:assets";
import selvanegra from "../assets/selvaNegra.jpg";
import resta from "../assets/mariaBonita2.jpg";
import nuwa from "../assets/NUWA.png";
import nuwalog from "../assets/NUWAlog.png";
import logomaria from "../assets/logomaria.png";
import logoSN from "../assets/logoSelvaNegra.png";
---

<main>
  <div>
    <!------------------------------Seccion 1------------------------------------------------->

    <div
      class="bg-fondog p-10  sm:grid sm:grid-cols-2 px-4 pt-20 flex flex-col items-center"
    >
      <div class="sm:mr-0 sm:mt-0 order-last sm:order-none p-10 ">
        <h2
          class="w-full mb-4 pr-3 sm:w-[432px] text-[#424b59] text-2xl sm:text-[32px] font-semibold font-Lobster"
        >
          Maria Bonita Steak House
        </h2>

        <p class="font-Montserrat text-sm sm:text-base sm:pr-3">
          Disfrute de una experiencia gastronómica en Maria Bonita Steak House,
          nuestro restaurante especializado en carnes a la parrilla, mariscos,
          mixología, vinos y auténtica cocina libanesa. Además, ofrecemos
          desayuno buffet gratuito para que inicie cada día de su estancia de la
          mejor manera.
        </p>
        <div
          class="flex flex-col sm:grid sm:grid-cols-2 mt-6 sm:mt-12 items-center sm:items-start"
        >
          <Image class="w-full sm:w-[250px]" src={logomaria} alt="maria" />
          <button
            class="h-11 w-52 mt-5 px-1 py-2.5 rounded-[20px] bg-botones justify-center items-center gap-3.5 inline-flex mb-4 sm:mb-0"
          >
            <a
              class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
              href="">Menú</a
            >
          </button>
        </div>
      </div>

      <div class="w-full sm:w-auto max-w-[80%] mx-auto">
        <Image
          src={resta}
          alt="resta"
          class="w-full rounded-br-4xl rounded-tl-4xl -mt-10"
        />
      </div>
    </div>

    <!----------------------------Seccion 2------------------------------------------------->
    <div
      class="sm:grid sm:grid-cols-2 p-10 px-4 pt-20 flex flex-col-reverse items-center"
    >
      <div class="sm:ml-0 mt-10 sm:mt-0 sm:order-last order-none p-10">
        <h2
          class="w-full mb-4 sm:pl-3 sm:w-[450px] text-[#424b59] text-2xl sm:text-[32px] font-semibold font-Lobster"
        >
          Selva Negra
        </h2>

        <p class="font-Montserrat text-sm sm:text-base sm:pl-3">
          Disfrute de una experiencia gastronómica en Maria Bonita Steak House,
          nuestro restaurante especializado en carnes a la parrilla, mariscos,
          mixología, vinos y auténtica cocina libanesa. Además, ofrecemos
          desayuno buffet gratuito para que inicie cada día de su estancia de la
          mejor manera.
        </p>
        <div
          class="flex flex-col sm:grid sm:grid-cols-2 mt-6 sm:mt-12 items-center sm:items-start"
        >
          <Image class="w-full sm:w-[250px]" src={logoSN} alt="maria" />
          <button
            class="h-11 w-52 px-1 py-2.5 mt-20 rounded-[20px] bg-botones justify-center items-center gap-3.5 inline-flex mb-4 sm:mb-0"
          >
            <a
              class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
              href="">Menú</a
            >
          </button>
        </div>
      </div>

      <div class="w-full sm:w-auto max-w-[80%] mx-auto">
        <Image
          src={selvanegra}
          alt="resta"
          class="w-full rounded-br-4xl rounded-tl-4xl"
        />
      </div>
    </div>

    <!-----------------------------Seccion 3------------------------------------------------->

    <div
      class="bg-fondog p-10 sm:grid sm:grid-cols-2 px-4 pt-20 flex flex-col items-center"
    >
      <div class="sm:mr-0 mt-10 sm:mt-0 order-last sm:order-none p-10">
        <h2
          class="w-full mb-4 pr-3 sm:w-[432px] text-[#424b59] text-2xl sm:text-[32px] font-semibold font-Lobster"
        >
          Nuwa Art Gallery
        </h2>

        <p class="font-Montserrat text-sm sm:text-base sm:pr-3">
          Es un espacio vibrante dedicado a la celebración del arte y la cultura
          costarricense. Presentamos obras de artistas locales, ofreciendo una
          experiencia única que conecta a los visitantes con la creatividad y la
          inspiración de nuestra tierra. ¡Descubre y apoye el arte costarricense
          en su máxima expresión en Nuwa Gallery!
        </p>
        <div
          class="flex flex-col sm:grid sm:grid-cols-2 mt-6 sm:mt-12 items-center sm:items-start"
        >
          <Image class="w-full sm:w-[250px]" src={nuwalog} alt="maria" />
          <button
            class="h-11 w-52 px-1 py-2.5 rounded-[25px] mt-7 bg-botones justify-center items-center gap-3.5 inline-flex mb-4 sm:mb-0"
          >
            <a
              class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
              href="">Menú</a
            >
          </button>
        </div>
      </div>

      <div class="w-full sm:w-auto max-w-[80%] mx-auto">
        <Image
          src={nuwa}
          alt="resta"
          class="w-full rounded-br-4xl rounded-tl-4xl"
        />
      </div>
    </div>
  </div>
</main>
