---
import Image from "astro/components/Image.astro";
import car from "../assets/car.png";
import bar from "../assets/bar.png";
import pool from "../assets/pool.png";
import wifi from "../assets/wifi.png";
import area from "../assets/AreaPiscina.jpg";
import bathroom from "../assets/bathroom.jpg";
---

<section class="bg-fondo sm:w-full">
  <div>
    <div class="text-center p-6">
      <h2 class="font-Lobster text-5xl sm:text-6xl">Facilidades Principales</h2>
   
    </div>
    <div
      class="sm:flex flex-row space-y-5 sm:space-y-0 sm:p-6 sm:space-x-8 "
    >
      <div>
        <Image src={wifi} alt="parking" class="mx-auto" />
        <p class="text-center font-Montserrat font-semibold text-base p-4">
          Parqueo Privado
        </p>
        <p class="font-Montserrat text-justify">
          Disfrute de un espacio seguro para su vehículo mientras explora La
          Fortuna sin preocupaciones. Ofrecemos parqueo gratuito 24 horas con seguridad privada para su comodidad, además de estación de carga
          eléctrica.
        </p>
      </div>
      <div>
        <Image src={wifi} alt="wifi" class="mx-auto" />
        <p class="text-center font-Montserrat font-semibold text-base p-4">WiFi</p>
        <p class="font-Montserrat text-justify">
          Disfrute de Wi-Fi de alta velocidad en todo el hotel. Manténgase
          conectado para compartir momentos, planificar actividades o trabajar
          mientras explora La Fortuna.
        </p>
      </div>
      <div>
        <Image src={bar} alt="bar" class="mx-auto" />
        <p class="text-center font-Montserrat font-semibold text-base p-4">
          Bar & Restaurante
        </p>
        <p class="font-Montserrat text-justify">
          Una experiencia gastronómica excepcional en el corazón de La Fortuna.
          Disfrute de cortes de carne de alta calidad, mariscos frescos y
          opciones vegetarianas, todo en un ambiente acogedor. ¡Le esperamos!
        </p>
      </div>
      <div>
        <Image src={pool} alt="pool" class="mx-auto" />
        <p class="text-center font-Montserrat font-semibold text-base p-4">Piscina</p>
        <p class="font-Montserrat text-justify">
          Relájese en nuestra piscina, ideal para descansar después de un día de
          aventuras. Disfrute del sol y del ambiente tropical mientras se
          refresca con un coctel o cerveza artesanal.
        </p>
      </div>
    </div>
  </section>

  <section class="bg-fondog">
    <div
      id="About"
      class="sm:grid sm:grid-cols-2 sm:items-center flex flex-col-reverse mt-8"
    >
      <div class="sm:p-20 p-10">
        <p class="font-Lobster text-5xl sm:text-6xl p-4">Sobre Nosotros</p>
      
        <p class="font-Montserrat xl:text-1xl lg:text-xl pt-4">
          La Fortuna Downtown Boutique Hotel es el hotel más
          céntrico de La Fortuna, Costa Rica, ofreciéndote una
          experiencia única con comodidad y estilo. Disfruta de
          fácil acceso a atracciones como el Volcán Arenal, la
          Catarata Río Fortuna y aguas termales. Entendemos
          que cada viajero es único, por eso brindamos servicios
          personalizados y experiencias inolvidables, ya sea explorando
          la naturaleza, disfrutando de actividades o
          relajándote. Además, nuestro equipo de expertos locales
          te ayudará a planificar tu aventura y descubrir la
          esencia de este destino icónico. ¡Tu escapada perfecta
          comienza aquí!
        </p>
        <p class="font-BadScript text-lg sm:text-xl 2xl:text-2xl pt-4">
          Ricardos Villalobos - Gerente General
        </p>
      </div>
      <div>
        <div
          class="sm:pl-24 2xl:pl-15 sm:p-10 flex justify-center sm:items-center sm:float-right"
        >
          <div class="relative">
            <Image
              src={area}
              alt="room"
              class=" rounded-br-4xl rounded-tl-4xl bg-cover"
            />
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

