---
import { Image } from "astro:assets";

import instagram from "../assets/instagram.png";
import facebook from "../assets/facebook.png";
import whatsapp from "../assets/whatsapp.png";
import phone from "../assets/phone.png";
import location from "../assets/location.png";
import mail from "../assets/mail.png";
import web from "../assets/world.png";
import nuwa from "../assets/logoNuwa.png";
import logoTierra from "../assets/logoTierrraG.png";
import logoPinto from "../assets/logoPinto.png";
import tropicalB from "../assets/logoTropical.png";
import logoLavaDrink from "../assets/logoLavaD.png";
import SNBlanco from "../assets/SNBlanco.png";
import MBBlanco from "../assets/MBBlanco.png";
import ventanitaBlanco from "../assets/ventanitaBlanco.png";
---

<style>
.slider a {
  display: inline-block;
}

.slider {
  display: flex;
  gap: 1rem; /* Espacio entre imágenes */
  animation: scroll 5s linear infinite;
}

.image {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  min-width: 120px; /* Evita que las imágenes se reduzcan */
}
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%); /* Mueve solo la mitad */
  }
}

.slider:hover {
  animation-play-state: paused;
}

</style>

<div id="Footer" class="bg-fondoF flex flex-col p-10">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="text-left md:text-left">
      <h3 class="text-xl text-gris mb-4 font-bold">Contáctanos</h3>
      <div class="space-y-4 text-gris">
        <ul class="space-y-4 text-left align-middle">
          <li class="flex">
            <span>
              <Image
                class="w-[33px] h-[33px] mr-2"
                src={phone}
                alt="telefono"
              />
            </span> +506 4000-2027
          </li>
          <li class="flex">
            <span>
              <Image
                class="w-[33px] h-[33px] mr-2"
                src={phone}
                alt="telefono"
              />
            </span> +506 8527-4777
          </li>
          <li class="flex">
            <span>
              <Image class="w-[33px] h-[33px] mr-2" src={mail} alt="mail" />
            </span> reservations@lafortunahotels.com
          </li>
          <li class="flex">
            <span>
              <Image
                class="w-[33px] h-[33px] mr-2"
                src={location}
                alt="location"
              />
            </span> 25 m sur de la iglesia católica<br />La Fortuna, Alajuela,
            Costa Rica
          </li>
          <li class="flex">
            <span>
              <Image class="w-[33px] h-[33px] mr-2" src={web} alt="web" />
            </span> www.lafortunadowntown.com
          </li>
        </ul>
      </div>
    </div>

    <div class="">
      <h3 class="text-xl text-gris mb-4 font-bold">Visitanos</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2012765.6315218944!2d-85.00654464706574!3d9.83500312456571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa00c62873c2a79%3A0x109e54e1dc56503b!2sMar%C3%ADa%20Bonita%20Steak%20House!5e0!3m2!1ses-419!2scr!4v1739563689459!5m2!1ses-419!2scr"
        width="350"
        height="300"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="">
      <h3 class="text-xl text-gris mb-4 font-bold">Redes sociales</h3>
      <div class="flex space-x-6">
        <a href="https://www.instagram.com/lafortunadowntown?igsh=MWt1bngybWZ6YmVvcw==">
          <Image
            class="sm:w-10 sm:h-10 w-8 h-8 rounded-xl"
            src={instagram}
            alt="Instagram"
          />
        </a>
        <a href="https://www.facebook.com/share/1XH5v8bUr3/?mibextid=wwXIfr">
          <Image
            class="sm:w-10 sm:h-10 w-8 h-8 rounded-xl"
            src={facebook}
            alt="Facebook"
          />
        </a>
        <a href="https://wa.me/message/EPD5JVA2SLQ2D1">
          <Image
            class="sm:w-10 sm:h-10 w-8 h-8 rounded-xl"
            src={whatsapp}
            alt="Whatsapp"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bg-black w-full overflow-hidden">
  <div class="slider-wrapper">
    <div class="slider">
      <!-- Original -->
      <a href="https://www.instagram.com/tierragastrocr?igsh=MTd5d2p4aTU4eXhnYw==" target="_blank" rel="noopener noreferrer"><Image src={logoTierra} class="image" alt="Tierra Gastro" /></a>
      <a href="https://www.instagram.com/mariabonita.cr?igsh=MXhtdXZvZzFyZjgzdw==" target="_blank" rel="noopener noreferrer"><Image src={MBBlanco} class="image" alt="Maria Bonita La Fortuna" /></a>
      <a href="https://www.instagram.com/ventanitamariabonita?igsh=a3djZDFhZ3pxMnl5"target="_blank" rel="noopener noreferrer"><Image src={ventanitaBlanco} class="image" alt="La Ventanita La Fortuna" /></a>
      <a href="/pinto-gallo" target="_blank" rel="noopener noreferrer"><Image src={logoPinto} class="image" alt="Pinto e' Gallo" /></a>
      <a href="/tropical" target="_blank" rel="noopener noreferrer"><Image src={tropicalB} class="image" alt="Tropical Experiences" /></a>
      <a href="/nuwa" target="_blank" rel="noopener noreferrer"><Image src={nuwa} class="image" alt="Nuwa Art Gallery" /></a>
      <a href="/lava-drinks" target="_blank" rel="noopener noreferrer"><Image src={logoLavaDrink} class="image" alt="Lava Drinks" /></a>
      <a href="https://www.instagram.com/selvanegra.bar?igsh=MTBzcHRsZ3RmNG1nMA==" target="_blank" rel="noopener noreferrer"><Image src={SNBlanco} class="image" alt="Selva Negra" /></a>

      <!-- Duplicado para el loop infinito -->
      <a href="https://www.instagram.com/tierragastrocr?igsh=MTd5d2p4aTU4eXhnYw==" target="_blank" rel="noopener noreferrer"><Image src={logoTierra} class="image" alt="Tierra Gastro" /></a>
      <a href="https://www.instagram.com/mariabonita.cr?igsh=MXhtdXZvZzFyZjgzdw==" target="_blank" rel="noopener noreferrer"><Image src={MBBlanco} class="image" alt="Maria Bonita La Fortuna" /></a>
      <a href="https://www.instagram.com/ventanitamariabonita?igsh=a3djZDFhZ3pxMnl5"target="_blank" rel="noopener noreferrer"><Image src={ventanitaBlanco} class="image" alt="La Ventanita La Fortuna" /></a>
      <a href="/pinto-gallo" target="_blank" rel="noopener noreferrer"><Image src={logoPinto} class="image" alt="Pinto e' Gallo" /></a>
      <a href="/tropical" target="_blank" rel="noopener noreferrer"><Image src={tropicalB} class="image" alt="Tropical Experiences" /></a>
      <a href="/nuwa" target="_blank" rel="noopener noreferrer"><Image src={nuwa} class="image" alt="Nuwa Art Gallery" /></a>
      <a href="/lava-drinks" target="_blank" rel="noopener noreferrer"><Image src={logoLavaDrink} class="image" alt="Lava Drinks" /></a>
      <a href="https://www.instagram.com/selvanegra.bar?igsh=MTBzcHRsZ3RmNG1nMA==" target="_blank" rel="noopener noreferrer"><Image src={SNBlanco} class="image" alt="Selva Negra" /></a>
    </div>
  </div>
</div>



  <div class="bg-[#424b59] w-full flex flex-col">
    <div class="sm:flex flex-row sm:text-left text-center items-center">
      <ul
        class="flex sm:flex-row flex-col text-white font-Montserrat text-sm sm:space-y-0 space-y-2 sm:space-x-6 pl-2"
      >
        <li><a href="">Aviso legal</a></li>
        <li><a href="">Politica de privacidad</a></li>
        <li><a href="">Preferencias de cookies</a></li>
        <li><a href="">Accesibilidad</a></li>
      </ul>
      <div
        class="sm:flex flex-row space-x-4 sm:pl-24 sm:text-left text-center gap-2 sm:gap-0 align-baseline"
      >
        <p class="text-white font-Montserrat text-sm">
          © La Fortuna Downtown. Derechos Reservados.
        </p>
        <p
          class="text-white font-Montserrat text-sm sm:place-self-end sm:pr-2"
        >
          Desarrollado & Diseñado por InnovaLinkCR
        </p>
      </div>
    </div>
  </div>

  <!-- <div class="continuos-overflow-hidden">
    <div
      class="d-flex align-items-center justify-content-center animate-scroll"
    >
      <div class="slider">
        <Image
          src={logoTierra}
          class="w-[120px] h-[120px] flex-shrink-0"
          alt="Tierra Gastro"
        />
      </div><div class="slider">
        <Image
          src={MBBlanco}
          class="w-[120px] h-[120px] flex-shrink-0"
          alt="Maria Bonita La Fortuna"
        />
      </div><div class="slider">
        <Image
          src={MBBlanco}
          class="w-[120px] h-[120px] flex-shrink-0"
          alt="Maria Bonita La Fortuna"
        />
      </div><div class="slider">
        <Image
          src={MBBlanco}
          class="w-[120px] h-[120px] flex-shrink-0"
          alt="Maria Bonita La Fortuna"
        />
      </div><div class="slider">
        <Image
          src={MBBlanco}
          class="w-[120px] h-[120px] flex-shrink-0"
          alt="Maria Bonita La Fortuna"
        />
      </div><div class="slider">
        <Image
          src={MBBlanco}
          class="w-[120px] h-[120px] flex-shrink-0"
          alt="Maria Bonita La Fortuna"
        />
      </div><div class="slider">
        <Image
          src={MBBlanco}
          class="w-[120px] h-[120px] flex-shrink-0"
          alt="Maria Bonita La Fortuna"
        />
      </div><div class="slider">
        <Image
          src={MBBlanco}
          class="w-[120px] h-[120px] flex-shrink-0"
          alt="Maria Bonita La Fortuna"
        />
      </div>
    </div>
  </div>-->
</div>
