---
import { Image } from "astro:assets";
import room1 from "../assets/room1.jpg";
import room2 from "../assets/room2.jpg";
import room3 from "../assets/room3.jpg";
import galeria1 from "../assets/1.png";
import galeria2 from "../assets/3.png";
import galeria3 from "../assets/5.png";
import galeria4 from "../assets/7.png";

const roomsPhotos = [
  {
    image: room1,
  },
  {
    image: room2,
  },
  {

    image: room1,
  },
  {

    image: room3,
  },

  
  // Agrega más habitaciones aquí
];
---
<style>
  .swiper-button-prev {
    background-color: white;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 8px 20px;
    border-radius: 100%;
    color: transparent;
    background-image: url("../assets/flecha.png");
  }

  .swiper-button-next {
    background-color: white;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 8px 20px;
    border-radius: 100%;
    color: transparent;
    background-image: url("../assets/flechader.png");
  }
</style>
<div class="pb-4 pl-8 pr-8">


    <h2 class="text-3xl font-semibold text-center mb-6">Nuestras Habitaciones</h2>

    <div class="sm:grid grid-cols-3 gap-4 hidden ">
        <div class="min-h-64 ">
          <Image class="min-h-full" src={galeria1} alt=""/>
        </div>
        <div>
            <div>
                <div class="flex flex-col space-y-6">
                  <Image src={galeria2} alt=""/>
                  <Image src={galeria3} alt=""/>
                </div>
            </div>
        </div>
        <div class="min-h-64 bg-gray-500">
          <Image class="min-h-full" src={galeria4} alt=""/>
        </div>
    </div>


    <div class="min-w-[5rem] min-h-[32rem] sm:hidden">
        <div class="swiper ">
          <div class="swiper-wrapper">
            {
              roomsPhotos.map((room) => (
                <div class="swiper-slide flex justify-center " key={room.image}>
                  <div class="slider-main relative transition-all duration-500 ease-in-out transform-gpu scale-95 opacity-60 bg-white bg-opacity-40 ">
                    <Image
                      src={room.image}
                      alt={room.image}
                      class="min-w-[5rem] min-h-[32rem] rounded-lg img"
                    />
                  </div>
                </div>
              ))
            }
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev rounded-full"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>


  </div>
 
  



  <script>
    import Swiper from 'swiper';
    import 'swiper/css';
    import { Navigation } from "swiper/modules";
    import "swiper/css/navigation";
  
    const swiper = new Swiper(".swiper", {
    modules: [Navigation],
    loop: true,
    centeredSlides: true,
  
    breakpoints: {
      0: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 40,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 100,
      },
    },
  
    navigation: {
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
  
    on: {
      slideChange: function () {
        const slides = this.slides;
        const activeIndex = this.activeIndex;
  
        slides.forEach((slide, index) => {
          const slideElement = slide.querySelector('.slider-main');
          const imageElement = slide.querySelector('img');
  
          if (index === activeIndex) {
            slideElement.classList.remove('opacity-60', 'bg-opacity-40');
            slideElement.classList.add('opacity-100', 'bg-opacity-0', 'transition-all', 'duration-300');
  
            // Si el tamaño de pantalla es mayor a 768px, aplica el scale
            if (window.innerWidth >= 768) {
              slideElement.classList.add('scale-100');
            }
  
            imageElement.classList.add('rounded-lg', 'shadow-lg');
          } else {
            slideElement.classList.remove('opacity-100', 'bg-opacity-0', 'scale-100');
            slideElement.classList.add('opacity-60', 'bg-opacity-40', 'transition-all', 'duration-300');
  
            imageElement.classList.remove('shadow-lg');
          }
        });
      }
    }
  });
  
  </script>