---
import { Image } from "astro:assets";
import logoBlancoDowntown from "../assets/logoBlancoDowntown.png";
import logoNegroDowntown from "../assets/logoNegroDowntown.png";
import logoRojoDowntown from "../assets/logoRojoDT.png";
import burgerw from "../assets/burger-white.svg";
import burgerb from "../assets/burger-black.svg";
import spain from "../assets/SPAIN.png";
import usa from "../assets/ingles.png";
---

<main>
  <nav
    id="navbar"
    class="bg-transparent text-white fixed w-full z-20 top-0 left-0 transition-all duration-300 flex justify-center"
  >
    <div
      class="w-[90%] flex items-center justify-between mx-auto p-4 relative h-[100px] lg:h-[80px]"
    >
      <div class="absolute bottom-0 left-0 lg:w-[83%] h-[2px] bg-white/90">
      </div>
      <!-- Logo -->
      <a href="" class="flex items-center">
        <Image
          id="logob"
          src={logoBlancoDowntown}
          alt="Hotel Downtown "
          class="lg:w-[160px] lg:h-[150px] md:w-[270px] md:h-[75px] h-[140px] w-[120px]"
        />
        <Image
          id="logon"
          src={logoNegroDowntown}
          alt="Hotel Downtown"
          class="lg:w-[160px] lg:h-[150px] md:w-[270px] md:h-[75px] h-[140px] w-[120px] hidden"
        />
      </a>
      <!-- Idioma switch -->
      <div class="">
        <button
          id="languageToggle"
          class="sm:flex sm:items-center sm:gap-2 sm:px-3 sm:py-2 px-1 sm:rounded-md text-2xl sm:font-medium bg-trasparent"
        >
          <Image
            id="flagIcon"
            src={usa}
            alt="Bandera de Espa帽a"
            class="w-5 h-5 sm:w-6 sm:h-6"
          />
          <span class="sr-only" id="srText">Cambiar a ingl茅s</span>
        </button>
      </div>

      <!-- Bot贸n de Reservar y Men煤 hamburguesa para m贸viles -->
      <div class="flex md:order-2 space-x-3 rtl:space-x-reverse">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.simplebooking.it/ibe/hotelbooking/search?hid=9184&lang=ES"
        >
          <button
            class="mx-6 w-[100px] h-[40px] md:w-[140px] md:h-[45px] bg-botones rounded-full text-white lg:text-base md:text-sm text-xs font-semibold"
          >
            Reserve Ahora
          </button>
        </a>

        <button
          data-collapse-toggle="navbar-sticky"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-sticky"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <Image class="" id="burger-white" src={burgerw} alt="menu-white" />
          <Image
            class="hidden"
            id="burger-black"
            src={burgerb}
            alt="menu-black"
          />
        </button>
      </div>

      <!-- Men煤 de navegaci贸n -->
      <div
        id="navbar-sticky"
        class="hidden tems-center justify-between md:w-auto md:order-1 flex-col md:flex md:flex-row absolute top-[100%] left-0 w-full bg-white text-black lg:text-white shadow-md md:shadow-none md:bg-transparent md:static z-50 transition-all duration-300"
      >
        <ul
          class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-8 px-6 py-4 md:py-0 font-medium"
        >
          <li>
            <a
              href="#Home"
              class="menu-link text-base md:text-sm font-semibold hover:text-botones"
              >La Fortuna Blog</a
            >
          </li>
          <li>
            <a
              href="#Rooms"
              class="menu-link text-base md:text-sm font-semibold hover:text-botones"
              >Habitaciones</a
            >
          </li>
          <li>
            <a
              href="#facilidades"
              class="menu-link text-base md:text-sm font-semibold hover:text-botones"
              >Hotel</a
            >
          </li>

          <li>
            <a
              href="#paquetes"
              class="menu-link text-base md:text-sm font-semibold hover:text-botones"
              >Paquetes</a
            >
          </li>
          <li>
            <a
              href="#infoPaquetes"
              class="menu-link text-base md:text-sm font-semibold hover:text-botones"
              >Tours & Transporte</a
            >
          </li>
          <li>
            <a
              href="#Footer"
              class="menu-link text-base md:text-sm font-semibold hover:text-botones"
              >Contacto & Ubicaci贸n</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</main>

<script>
  window.addEventListener("scroll", function () {
    const navbar = document.getElementById("navbar");
    const logob = document.getElementById("logob");
    const logon = document.getElementById("logon");
    const menub = document.getElementById("burger-white");
    const menun = document.getElementById("burger-black");
    const links = document.querySelectorAll(".menu-link");
    const isMobile = window.innerWidth < 768;

    if (window.scrollY > 50) {
      navbar.classList.remove("bg-transparent", "text-white");
      navbar.classList.add("bg-white", "shadow-lg", "text-black");

      logob.classList.add("hidden");
      logon.classList.remove("hidden");

      // Cambiar color del men煤 m贸vil a negro
      menub.classList.add("hidden");
      menun.classList.remove("hidden");

      links.forEach((link) => {
        if (isMobile || window.scrollY > 50) {
          link.classList.remove("text-white");
          link.classList.add("text-black");
        } else {
          link.classList.remove("text-black");
          link.classList.add("text-white");
        }
      });
    } else {
      navbar.classList.remove("bg-white", "shadow-lg", "text-black");
      navbar.classList.add("bg-transparent", "text-white");

      logob.classList.remove("hidden");
      logon.classList.add("hidden");

      // Cambiar color del men煤 m贸vil a blanco
      menub.classList.remove("hidden");
      menun.classList.add("hidden");

      links.forEach((link) => {
        if (isMobile || window.scrollY > 50) {
          link.classList.remove("text-white");
          link.classList.add("text-black");
        } else {
          link.classList.remove("text-black");
          link.classList.add("text-white");
        }
      });
    }
  });

  // Desplazamiento suave para los enlaces
  document
    .querySelector('a[href="#About"]')
    .addEventListener("click", function (event) {
      event.preventDefault();
      document.querySelector("#About").scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    });

  // L贸gica para cambiar idioma
  const button = document.getElementById("languageToggle");
  const flagIcon = document.getElementById("flagIcon");
  const srText = document.getElementById("srText");
  let language = "es";

  button?.addEventListener("click", () => {
    language = language === "es" ? "en" : "es";
    if (language === "es") {
      flagIcon.textContent = "";
      srText.textContent = "Cambiar a ingl茅s";
      window.location.href = ""; // Redirigir a la versi贸n en espa帽ol
    } else {
      flagIcon.textContent = "吼";
      srText.textContent = "Cambiar a espa帽ol";
      window.location.href = "/Downtown/en"; // Redirigir a la versi贸n en ingl茅s
    }
  });
</script>
