
---



import Image from "astro/components/Image.astro";
import room1 from "../assets/room1.jpg";
import room2 from "../assets/room2.jpg";
import room3 from "../assets/room3.jpg";
import person from "../assets/person.png"
import bed from "../assets/bed.png"
import prev from "../assets/flecha.png"
const rooms = [
  {
    title: "DownTown Standard Doble",
    price: "$128/NIGHT",
    sleeps: 2,
    beds: "2 twin beds",
    image: room1,
  },
  
  {
    title: "DownTown Standard",
    price: "$110/NIGHT",
    sleeps: 2,
    beds: "2 queen beds",
    image: room2,
  },
  {
    title: "DownTown Standard Doble",
    price: "$128/NIGHT",
    sleeps: 2,
    beds: "2 twin beds",
    image: room1,
  },
  {
    title: "DownTown Standard",
    price: "$130/NIGHT",
    sleeps: 2,
    beds: "2 queen beds",
    image: room3,
  },

  
  // Agrega más habitaciones aquí
];

---
<style>
  .swiper-button-prev {
    background-color: white;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 8px 20px;
    border-radius: 100%;

    color: transparent;
  }
  
  .swiper-button-prev {
    background-image: url("../assets/flecha.png");
    
  }
  .swiper-button-next {
    background-color: white;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 8px 20px;
    border-radius: 100%;

    color: transparent;
  }
  
  .swiper-button-next {
    background-image: url("../assets/flechader.png");
    
  }
  </style>


<section class="text-center py-10 bg-fondo h-full">
  <div class="flex flex-col -space-y-10 pl-16">
    <h2 class="text-8xl font-bold mb-8 font-Lobster text-left">Our Rooms</h2>
    <p class="font-Montserrat text-left pl-9 text-2xl text-gold">LUXURY EXPERIENCE</p>
  </div>

  <div class="min-w-[5rem] min-h-[32rem]">
    <div class="swiper ">
      <div class="swiper-wrapper">
        {
          rooms.map((room) => (
            <div class="swiper-slide flex justify-center " key={room.title}>
              <div class="slider-main relative transition-all duration-500 ease-in-out transform-gpu scale-95 opacity-60 bg-white bg-opacity-40 ">
                <Image
                  src={room.image}
                  alt={room.title}
                  class="min-w-[5rem] min-h-[32rem] sm:min-w-[rem] sm:min-h-[32rem] rounded-lg img"
                />
                <div class="absolute inset-0 flex flex-col justify-end text-left pl-12 pb-4 bg-white bg-opacity-0 transition-opacity duration-500 ease-in-out">
                  <p class="text-white font-Montserrat text-xl">FROM {room.price}</p>
                  <p class="text-white font-Montserrat text-xl font-semibold">{room.title}</p>
                  <div class="flex text-white space-x-2">
                    <Image src={person} alt="person" class="w-6 h-6"/>
                    <p class="font-Montserrat">{room.sleeps} Sleeps</p>
                    <Image src={bed} alt="bed" class="w-6 h-6"/>
                    <p class="font-Montserrat">{room.beds}</p>
                  </div>
                  <div>
                    <button class="text-yellow-400 font-medium underline  text-lg rounded-md font-Montserrat">
                      See availability ➔
                    </button>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev rounded-full"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  



</section>

<script>
  import Swiper from 'swiper';
  import 'swiper/css';
  import { Navigation } from "swiper/modules";
  import "swiper/css/navigation";

  const swiper = new Swiper(".swiper", {
    modules: [Navigation],
    loop: true,
    centeredSlides: true,
    
     // Responsive configuration
     breakpoints: {
      0: {  // Mobile screens (default)
        slidesPerView: 1,
        spaceBetween: 0,
      },
      768: {  // Tablets
        slidesPerView: 2,
        spaceBetween: 40,
      },
      1024: {  // Desktop
        slidesPerView: 3,
        spaceBetween: 90,
      },
    },
    
   
    navigation: {
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
    on: {
      slideChange: function () {
        const slides = this.slides;
        const activeIndex = this.activeIndex;  // Obtén el índice de la diapositiva activa

        slides.forEach((slide, index) => {
          const slideElement = slide.querySelector('.slider-main');
          const imageElement = slide.querySelector('img');
          // Si es la diapositiva activa
          if (index === activeIndex) {
            slideElement.classList.remove('sm:scale-95', 'opacity-60', 'bg-opacity-40');
            slideElement.classList.add( 'opacity-100', 'bg-opacity-0', 'transition-all', 'duration-300', )
            imageElement.classList.add('rounded-lg', 'shadow-lg');
            ;
          } else {
            // Si es una diapositiva lateral (no activa)
            slideElement.classList.remove('scale-95', 'opacity-100', 'bg-opacity-0');
            slideElement.classList.add( 'scale-95', 'opacity-60', 'bg-opacity-40', 'transition-all', 'duration-300');
            imageElement.classList.remove('shadow-lg');
            
          }
        });
      }
    }
  });
</script>


