---
import { Image } from "astro:assets";
import fotoSelvanegra from "../../assets/selvaAmenidades.jpg";
import fotoResta from "../../assets/restaAmenidades.jpg";
import fotoNuwa from "../../assets/NUWA.png";
import LogoNuwa from "../../assets/NUWAlog.png";
import logoMariaBonita from "../../assets/logomaria.png";
import LogoSelvaNegra from "../../assets/logoSelvaNegra.png";
import LogoVentanita from "../../assets/laventanita.png";
import FotoVentanita from "../../assets/mariaAmanidades.jpg";
import logoPintoeGallo from "../../assets/logoDesayuno.png";
import fotoDesayuno from "../../assets/TipicoAmanidades.jpg";
---

<main>
  <div>
    <!------------------------------Seccion 1------------------------------------------------->

    <div
      class="bg-fondog sm:grid sm:grid-cols-2 flex flex-col items-center h-50"
    >
      <div class="order-last sm:order-none lg:p-20 p-10">
        <h2
          class="w-full mb-4 pr-6 sm:w-[540px] text-titulo text-2xl sm:text-[30px] lg:text-[40px] font-Lobster"
        >
          María Bonita Steak House
        </h2>

        <p class="font-Montserrat text-sm sm:text-sm text-texto">
          María Bonita Steak House is a fusion of gastronomy, entertainment,
          passion, and art. Here, every dish becomes a spectacle. Enjoy premium
          cuts of meat cooked to perfection over natural charcoal embers,
          flambéed at the table with desserts, coffees, and cocktails, fire
          experiences, and live music. Immerse yourself in a unique sensory
          experience in the heart of La Fortuna. We guarantee quality and an
          authentic experience!
        </p>

        <div
          class="flex flex-col sm:grid sm:grid-cols-2 lg:mt-4 items-center sm:items-start"
        >
          <Image
            class="w-[200px] lg:w-[240px] order-last sm:order-first mt-8"
            src={logoMariaBonita}
            alt="María Bonita Steak House"
          />
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
            href="https://qrfy.io/p/iLG_cBukNI"
          >
            <button
              class="h-11 w-52 lg:mt-20 mt-10 rounded-[20px] bg-botones hover:bg-red-700 justify-center items-center inline-flex order-first sm:order-last"
            >
              Menu
            </button>
          </a>
        </div>
      </div>

      <div class="w-full sm:w-auto max-w-[80%] mx-auto p-4">
        <Image
          src={fotoResta}
          alt="María Bonita Steak House"
          class="w-full h-[350px] object-cover lg:rounded-br-4xl lg:rounded-tl-4xl rounded-br-4xl rounded-tl-4xl"
        />
      </div>
    </div>

    <!----------------------------Seccion 2------------------------------------------------->

    <div class="sm:grid sm:grid-cols-2 flex flex-col items-center h-50">
      <div class="w-full sm:w-auto max-w-[80%] mx-auto p-4">
        <Image
          src={fotoSelvanegra}
          alt="Selva Negra"
          class="w-full h-[350px] object-cover lg:rounded-br-4xl lg:rounded-tl-4xl rounded-br-4xl rounded-tl-4xl"
        />
      </div>
      <div class="sm:order-last order-none lg:p-20 p-10">
        <h2
          class="w-full mb-4 pr-3 sm:w-[432px] text-titulo text-2xl sm:text-[30px] lg:text-[40px] font-Lobster"
        >
          Selva Negra
        </h2>

        <p class="font-Montserrat text-sm sm:text-sm text-texto">
          Take a sensory journey inspired by the magic of Costa Rica's nocturnal
          tropical rainforest, savoring exotic flavors, inventive mixology, fine
          wines, and experiences. We offer themed mixology nights, wine tastings
          with guest sommeliers, pairings with cuisine crafted by our chef, and
          private events for those seeking personal experiences.
        </p>
        <div
          class="flex flex-col sm:grid sm:grid-cols-2 lg:mt-4 items-center sm:items-start"
        >
          <Image
            class="w-[200px] lg:w-[240px] order-2 sm:order-1 mt-8"
            src={LogoSelvaNegra}
            alt="Selva Negra"
          />
          <!--  <button
            class="h-11 w-52 mt-10 rounded-[20px] bg-botones hover:bg-red-700 justify-center items-center inline-flex"
          >
            <a
              class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
              href="">Menú</a
            >
          </button>-->
        </div>
      </div>
    </div>

    <!-----------------------------Seccion 3------------------------------------------------->

    <div
      class="bg-fondog sm:grid sm:grid-cols-2 flex flex-col items-center h-50"
    >
      <div class="order-last sm:order-none lg:p-20 p-10">
        <h2
          class="w-full mb-4 pr-3 sm:w-[432px] text-titulo text-2xl sm:text-[30px] lg:text-[40px] font-Lobster"
        >
          Nuwa Art Gallery
        </h2>

        <p class="font-Montserrat text-sm sm:text-sm text-texto">
          It is a vibrant space dedicated to the celebration of Costa Rican art
          and culture. We showcase works by local artists, offering a unique
          experience that connects visitors with the creativity and inspiration
          of our land. Discover and support Costa Rican art in its fullest
          expression at Nuwa Gallery!
        </p>
        <div
          class="flex flex-col sm:grid sm:grid-cols-2 lg:mt-4 items-center sm:items-start"
        >
          <Image
            class="w-[200px] lg:w-[240px] order-last sm:order-first mt-2"
            src={LogoNuwa}
            alt="Nuwa Art Gallery"
          />

          <!-- <button
            class="h-11 w-52 mt-10 rounded-[20px] bg-botones hover:bg-red-700 justify-center items-center inline-flex order-first sm:order-last"
          >
            <a
              class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
              href=""
            >
              Catálogo
            </a>
          </button>-->
        </div>
      </div>

      <div class="w-full sm:w-auto max-w-[80%] mx-auto p-4">
        <Image
          src={fotoNuwa}
          alt="Nuwa Art Gallery"
          class="w-full h-[350px] object-cover lg:rounded-br-4xl lg:rounded-tl-4xl rounded-br-4xl rounded-tl-4xl"
        />
      </div>
    </div>
  </div>

  <!----------------------------Seccion 4------------------------------------------------->
  <div class="sm:grid sm:grid-cols-2 flex flex-col items-center h-50">
    <div class="w-full sm:w-auto max-w-[80%] mx-auto p-4">
      <Image
        src={FotoVentanita}
        alt="La Ventanita de María Bonita"
        class="w-full h-[350px] object-cover lg:rounded-br-4xl lg:rounded-tl-4xl rounded-br-4xl rounded-tl-4xl"
      />
    </div>
    <div class="sm:order-last order-none lg:p-20 p-10">
      <h2
        class="w-full mb-4 pr-6 sm:w-[540px] text-titulo text-2xl sm:text-[30px] lg:text-[40px] font-Lobster"
      >
        La Ventanita de María Bonita
      </h2>

      <p class="font-Montserrat text-sm sm:text-sm text-texto">
        At La Ventanita de María Bonita, we know that your time is valuable, and
        so is your appetite. We are a small fast-food grill window where each
        dish is prepared on the spot with fresh, top-quality ingredients. Enjoy
        authentic and juicy flavors, cooked to perfection on the grill, ready to
        go, and without long waits. Speed, flavor, and quality in every bite!
      </p>
      <div
        class="flex flex-col sm:grid sm:grid-cols-2 lg:mt-4 items-center sm:items-star"
      >
        <Image
          class="w-[200px] lg:w-[240px] order-2 sm:order-1"
          src={LogoVentanita}
          alt="La Ventanita de María Bonita"
        />
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
          href="https://online.flippingbook.com/view/179568887/"
        >
          <button
            class="h-11 w-52 lg:mt-10 mt-10 rounded-[20px] bg-botones hover:bg-red-700 justify-center items-center inline-flex order-first sm:order-last"
          >
            Menú
          </button>
        </a>
      </div>
    </div>
  </div>

  <!-----------------------------Seccion 5------------------------------------------------->

  <div class="bg-fondog sm:grid sm:grid-cols-2 flex flex-col items-center h-50">
    <div class="order-last sm:order-none lg:p-20 p-10">
      <h2
        class="w-full mb-4 pr-3 sm:w-[432px] text-titulo text-2xl sm:text-[30px] lg:text-[40px] font-Lobster"
      >
        Pinto e' Gallo
      </h2>

      <p class="font-Montserrat text-sm sm:text-sm text-texto">
        Start your day with the best flavor at Pinto e' Gallo. Enjoy our
        buffet-style breakfast, where you'll find an irresistible variety of
        fresh options. Ideal for starting the day with energy and without rush.
        Come and enjoy a complete and delicious breakfast!
      </p>
      <div
        class="flex flex-col sm:grid sm:grid-cols-2 lg:mt-4 items-center sm:items-start"
      >
        <Image
          class="w-[150px] lg:w-[200px] order-last sm:order-first"
          src={logoPintoeGallo}
          alt="María Bonita Steak House"
        />

        <!--  <button
          class="h-11 w-52 lg:mt-20 mt-10 rounded-[20px] bg-botones hover:bg-red-700 justify-center items-center inline-flex order-first sm:order-last"
        >
          <a
            class="text-center text-fondo text-base sm:text-xl font-semibold font-['Montserrat']"
            href=""
          >
            Menú
          </a>
        </button>-->
      </div>
    </div>

    <div class="w-full sm:w-auto max-w-[80%] mx-auto p-4">
      <Image
        src={fotoDesayuno}
        alt="Pinto e' Gallo"
        class="w-full h-[350px] object-cover lg:rounded-br-4xl lg:rounded-tl-4xl rounded-br-4xl rounded-tl-4xl"
      />
    </div>
  </div>
</main>
