---
import { Image } from "astro:assets";
import logoBlancoDowntown from "../../assets/logoBlancoDowntown.png";
import logoNegroDowntown from "../../assets/logoNegroDowntown.png";
import burgerw from "../../assets/burger-white.svg";
import burgerb from "../../assets/burger-black.svg";
import spain from "../../assets/espannol.png";
---

<main>
  <nav
    id="navbar"
    class="bg-transparent text-white fixed w-full z-20 top-0 left-0 transition-all duration-300 flex justify-center"
  >
    <div
      class=" flex items-center justify-between mx-auto p-4 relative h-[100px] lg:h-[80px]"
    >
      <div class="absolute bottom-0 left-0 lg:w-[83%] h-[2px] bg-white/90"/>
     
      <!-- Logo -->
      <a href="" class="flex items-center">
        <Image
          id="logob"
          src={logoBlancoDowntown}
          alt="Hotel Downtown "
          class="lg:w-[160px] lg:h-[150px] md:w-[130px] md:h-[100px] h-[140px] w-[120px]"
        />
        <Image
          id="logon"
          src={logoNegroDowntown}
          alt="Hotel Downtown"
          class="lg:w-[160px] lg:h-[150px] md:w-[130px] md:h-[100px] h-[140px] w-[120px] hidden"
        />
      </a>
      <!-- Idioma switch -->
      <div class="">
        <button
          id="languageToggle"
          class="sm:flex sm:items-center sm:gap-2 sm:px-3 sm:py-2 px-1 sm:rounded-md text-2xl sm:font-medium bg-trasparent"
        >
          <Image
            id="flagIcon"
            src={spain}
            alt="Bandera de Espa帽a"
            class="w-5 h-5 sm:w-6 sm:h-6"
          />
          <span class="sr-only" id="srText">Cambiar a ingl茅s</span>
        </button>
      </div>

      <!-- Bot贸n de Reservar y Men煤 hamburguesa para m贸viles -->
      <div class="flex md:order-2 space-x-3 rtl:space-x-reverse">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.simplebooking.it/ibe2/hotel/9184/?hid=9184&lang=EN&cur=USD"
        >
          <button
            class="mx-6 w-[100px] h-[40px] md:w-[140px] md:h-[45px] bg-botones hover:bg-red-700 rounded-full text-white lg:text-base md:text-sm text-xs font-semibold"
          >
          Reserve Now
          </button>
        </a>

        <button
          data-collapse-toggle="navbar-sticky"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-sticky"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <Image class="" id="burger-white" src={burgerw} alt="menu-white" />
          <Image
            class="hidden"
            id="burger-black"
            src={burgerb}
            alt="menu-black"
          />
        </button>
      </div>

      <!-- Men煤 de navegaci贸n -->
      <div
        id="navbar-sticky"
        class="hidden tems-center justify-between md:w-auto md:order-1 flex-col lg:flex md:flex-row absolute top-[100%] left-0 rigth-0 bg-white text-black lg:text-white shadow-md md:shadow-none md:bg-transparent md:static z-50 transition-all duration-300"
      >
        <ul
          class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-8 px-6 py-4 md:py-0 font-medium"
        >
          <li>
            <a 
              href="/blog"
              class="menu-link text-base md:text-sm font-semibold hover:text-botones"
              >La Fortuna Blog</a
            >
          </li>

<li class="relative group">
            <button
              class="menu-link text-base md:text-sm font-semibold hover:text-botones flex items-center gap-1"
            >
              Eco Hotel
              <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 10.586l3.71-3.356a.75.75 0 111.04 1.08l-4.25 3.85a.75.75 0 01-1.04 0l-4.25-3.85a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>

            <ul
              class="absolute invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-200 top-[2.8rem] left-0 bg-white text-black rounded-md shadow-md w-56 z-50 py-2"
            >
              <li>
                <a href="/#facilidades" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Facilities
                </a>
              </li>
              <li>
                <a href="/#Rooms" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Our Rooms
                </a>
              </li>
              <li>
                <a href="/" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Calathea Spa
                </a>
              </li>
              <li>
                <a href="/" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Sustainability
                </a>
              </li>
              <li>
                <a href="/#nuwa" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Nuwa Art Gallery
                </a>
              </li>
            </ul>
          </li>


          <li class="relative group">
            <button
              class="menu-link text-base md:text-sm font-semibold hover:text-botones flex items-center gap-1"
            >
              Gastro & Drink's
              <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 10.586l3.71-3.356a.75.75 0 111.04 1.08l-4.25 3.85a.75.75 0 01-1.04 0l-4.25-3.85a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>

            <ul
              class="absolute invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-200 top-[2.8rem] left-0 bg-white text-black rounded-md shadow-md w-56 z-50 py-2"
            >
              <li>
                <a href="/#mariabonita" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Mar铆a Bonita Steak House
                </a>
              </li>
              <li>
                <a href="/#selva" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Selva Negra 
                </a>
              </li>
              <li>
                <a href="/#gallo" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Pinto e' Gallo
                </a>
              </li>
              <li>
                <a href="#ventanita" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  La Ventanita de Mar铆a Bonita
                </a>
              </li>
            </ul>
          </li>


          <li class="relative group">
            <button
              class="menu-link text-base md:text-sm font-semibold hover:text-botones flex items-center gap-1"
            >
              Packages
              <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 10.586l3.71-3.356a.75.75 0 111.04 1.08l-4.25 3.85a.75.75 0 01-1.04 0l-4.25-3.85a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>

            <ul
              class="absolute invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-200 top-[2.8rem] left-0 bg-white text-black rounded-md shadow-md w-56 z-50 py-2"
            >
              <li>
                <a href="/en/packagedetails/1" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Romantic Getaway
                </a>
              </li>
              <li>
                <a href="/en/packagedetails/2" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Romantic Getaway
                </a>
              </li>
              <li>
                <a href="/en/packagedetails/3" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Classic to Arenal Volcano
                </a>
              </li>
              <li>
                <a href="/en/packagedetails/4" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Epic Adventure
                </a>
              </li>
            </ul>
          </li>



          <li class="relative group">
            <button
              class="menu-link text-base md:text-sm font-semibold hover:text-botones flex items-center gap-1"
            >
              Tours & Transportation
              <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 10.586l3.71-3.356a.75.75 0 111.04 1.08l-4.25 3.85a.75.75 0 01-1.04 0l-4.25-3.85a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>

            <ul
              class="absolute invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-200 top-[2.8rem] left-0 bg-white text-black rounded-md shadow-md w-56 z-50 py-2"
            >
              <li>
                <a href="/" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Experiences on site
                </a>
              </li>
              <li>
                <a target="_blank"
                        rel="noopener noreferrer" href="https://online.flippingbook.com/view/743187584/" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Tours & Excursions
                </a>
              </li>
              <li>
                <a href="/" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Transportation
                </a>
              </li>
              <li>
                <a target="_blank"
                        rel="noopener noreferrer"
                        href="https://wa.me/message/WWHUTP2EQP6CI1" class="block px-4 py-2 hover:bg-gray-100 text-sm font-medium">
                  Concierge
                </a>
              </li>
            </ul>
          </li>


          <li>
            <a
              href="#Footer"
              class="menu-link text-base md:text-sm font-semibold hover:text-botones"
              >Contact & Location </a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</main>

<script>
  window.addEventListener("scroll", function () {
    const navbar = document.getElementById("navbar");
    const logob = document.getElementById("logob");
    const logon = document.getElementById("logon");
    const menub = document.getElementById("burger-white");
    const menun = document.getElementById("burger-black");
    const links = document.querySelectorAll(".menu-link");
    const isMobile = window.innerWidth < 768;

    if (window.scrollY > 50) {
      navbar.classList.remove("bg-transparent", "text-white");
      navbar.classList.add("bg-white", "shadow-lg", "text-black");

      logob.classList.add("hidden");
      logon.classList.remove("hidden");

      // Cambiar color del men煤 m贸vil a negro
      menub.classList.add("hidden");
      menun.classList.remove("hidden");

      links.forEach((link) => {
        if (isMobile || window.scrollY > 50) {
          link.classList.remove("text-white");
          link.classList.add("text-black");
        } else {
          link.classList.remove("text-black");
          link.classList.add("text-white");
        }
      });
    } else {
      navbar.classList.remove("bg-white", "shadow-lg", "text-black");
      navbar.classList.add("bg-transparent", "text-white");

      logob.classList.remove("hidden");
      logon.classList.add("hidden");

      // Cambiar color del men煤 m贸vil a blanco
      menub.classList.remove("hidden");
      menun.classList.add("hidden");

      links.forEach((link) => {
        if (isMobile || window.scrollY > 50) {
          link.classList.remove("text-white");
          link.classList.add("text-black");
        } else {
          link.classList.remove("text-black");
          link.classList.add("text-white");
        }
      });
    }
  });


  // L贸gica para cambiar idioma
  const button = document.getElementById("languageToggle");
  const flagIcon = document.getElementById("flagIcon");
  const srText = document.getElementById("srText");
  let language = "es";

  button?.addEventListener("click", () => {
    language = language === "es" ? "en" : "es";
    if (language === "es") {
      flagIcon.textContent = "";
      srText.textContent = "Cambiar a ingl茅s";
      window.location.href = ""; // Redirigir a la versi贸n en espa帽ol
    } else {
      flagIcon.textContent = "吼";
      srText.textContent = "Cambiar a espa帽ol";
      window.location.href = "/"; // Redirigir a la versi贸n en ingl茅s
    }
  });
</script>
